@{
    ViewBag.Title = "О проекте";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>О проекте</h2>
Этот проект на ASP.NET MVC 4 позволяет добавить новый контакт в Dynamics CRM. @Html.ActionLink("Форма добавления контакта. ", "Index", "Contact")